<div class="intro-steps" ng-switch="currentStep">
	<div class="step step-1" ng-switch-when="1">
		<div class="content">
			<h1 chrome-translate>introWelcome</h1>
			<div chrome-translate>introWelcomeText</div>
			<div class="buttons">
				<p><a class="pure-button next" ng-click="goTo(2)" chrome-translate>introStart</a></p>
			</div>
		</div>
	</div>
	<div class="step step-2" ng-switch-when="2">
		<div class="content">
			<h1>
				<span class="iconmelon" ng-class="{red: !login.shazam.status, green: login.shazam.status}">
					<svg viewBox="0 0 32 32">
						<g filter="">
							<use xlink:href="#unlock" ng-if="!login.shazam.status"></use>
							<use xlink:href="#lock" ng-if="login.shazam.status"></use>
						</g>
					</svg>
				</span>
				Shazam
			</h1>
			<div chrome-translate ng-if="!login.shazam.status">introShazamLoggedOutText</div>
			<div chrome-translate ng-if="login.shazam.status">introShazamLoggedInText</div>
			<div class="buttons">
				<p ng-if="!login.shazam.status"><a class="pure-button pure-button-primary next" ng-click="login.shazam.openLogin()" chrome-translate>introOpenShazamLogin</a></p>
				<p ng-if="login.shazam.status"><a class="pure-button next" ng-click="goTo(3)" chrome-translate>introNext</a></p>
			</div>
		</div>
	</div>
	<div class="step step-3" ng-switch-when="3">
		<div class="content">
			<h1>
				<span class="iconmelon" ng-class="{red: !login.spotify.status, green: login.spotify.status}">
					<svg viewBox="0 0 32 32">
						<g filter="">
							<use xlink:href="#unlock" ng-if="!login.spotify.status"></use>
							<use xlink:href="#lock" ng-if="login.spotify.status"></use>
						</g>
					</svg>
				</span>
				Spotify
			</h1>
			<div chrome-translate ng-if="!login.spotify.status">introSpotifyLoggedOutText</div>
			<div chrome-translate ng-if="login.spotify.status">introSpotifyLoggedInText</div>
			<div class="buttons">
				<p ng-if="!login.spotify.status"><a class="pure-button pure-button-primary" ng-click="login.spotify.openLogin()" chrome-translate>introOpenSpotifyLogin</a></p>
				<p ng-if="login.spotify.status"><a class="pure-button next" ng-click="goToTags()" chrome-translate>introEnd</a></p>
			</div>
		</div>
	</div>
</div>