<div class="topbar">
	<a class="pure-button right" ng-click="return()" ng-if="login.spotify.status && login.shazam.status" chrome-translate>backToTags</a>
	<div class="left">
		<a class="iconmelon" href="#/">
			<svg viewBox="0 0 32 32">
				<g filter="">
					<use xlink:href="#arrow-left"></use>
				</g>
			</svg>
		</a>
	</div>
	<h2 chrome-translate>settings</h2>
</div>
<div class="settings">
	<h3 chrome-translate>loginStatus</h3>
	<div class="login-status">
		<div class="status" ng-class="{on: login.shazam.status, off: !login.shazam.status}">
			<span>Shazam</span>
			<div class="iconmelon">
				<svg viewBox="0 0 32 32">
					<g filter="">
						<use xlink:href="#lock" ng-if="login.shazam.status"></use>
						<use xlink:href="#unlock" ng-if="!login.shazam.status"></use>
					</g>
				</svg>
			</div>
		</div>
		<div class="status" ng-class="{on: login.spotify.status, off: !login.spotify.status}">
			<span>Spotify</span>
			<div class="iconmelon">
				<svg viewBox="0 0 32 32">
					<g filter="">
						<use xlink:href="#lock" ng-if="login.spotify.status"></use>
						<use xlink:href="#unlock" ng-if="!login.spotify.status"></use>
					</g>
				</svg>
			</div>
		</div>
	</div>
	<div class="shazam-login">
		<div class="login-shazam pending" ng-if="!login.shazam.status">
			<h3>Shazam</h3>
			<p chrome-translate>promptShazamLogin</p>

			<p><a class="pure-button pure-button-primary" ng-click="login.shazam.openLogin()" chrome-translate>openShazamLogin</a></p>
		</div>
	</div>
	<div class="spotify-login">
		<h3>Spotify</h3>
		<div class="login-spotify pending" ng-if="!login.spotify.status">
			<p chrome-translate>promptSpotifyLogin</p>

			<p><a class="pure-button pure-button-primary" ng-click="login.spotify.openLogin()" chrome-translate>authSpotify</a></p>
		</div>
		<div class="login-spotify success" ng-if="login.spotify.status">
			<p><a class="pure-button button-warning" ng-click="login.spotify.disconnect()" chrome-translate>logout</a></p>
		</div>
	</div>
	<div class="advanced-settings">
		<a ng-click="advanced.toggle()" class="clickable"><span chrome-translate>advancedSettings</span> <span class="arrow" ng-if="advanced.hidden">&#x25BC;</span><span class="arrow" ng-if="!advanced.hidden">&#x25B2;</span></a>
		<div class="advanced-content" ng-if="!advanced.hidden">
			<h3 chrome-translate>clearData</h3>
			<p chrome-translate>clearDataText</p>
			<p><a class="pure-button pure-button-warning" ng-click="advanced.clearExtData()" chrome-translate>clearData</a></p>
			<h3 chrome-translate>exportLogs</h3>
			<p chrome-translate>exportLogsText</p>
			<p><a class="pure-button" ng-click="advanced.exportLogs()" chrome-translate>exportLogs</a></p>
		</div>
	</div>
</div>