<div class="topbar">
	<div class="left">
		<a class="iconmelon" href="#/">
			<svg viewBox="0 0 32 32">
				<g filter="">
					<use xlink:href="#arrow-left"></use>
				</g>
			</svg>
		</a>
	</div>
	<h2 chrome-translate>settings</h2>
</div>
<div class="settings">
	<div class="shazam-login">
		<div class="login-shazam pending" ng-if="!shazam.loginStatus">
			<p chrome-translate>promptShazamLogin</p>

			<p><a class="pure-button pure-button-primary" ng-click="shazam.openLogin()" chrome-translate>openShazamLogin</a></p>
		</div>
		<div class="login-shazam success" ng-if="shazam.loginStatus">
			<p chrome-translate>shazamLoginSuccess</p>
		</div>
	</div>
	<div class="spotify-login">
		<div class="login-spotify pending" ng-if="!spotify.loginStatus">
			<p chrome-translate>promptSpotifyLogin</p>

			<p><a class="pure-button pure-button-primary" ng-click="spotify.openLogin()" chrome-translate>authSpotify</a></p>
		</div>
		<div class="login-spotify success" ng-if="spotify.loginStatus">
			<p chrome-translate>spotifyLoginSuccess</p>
			<p><a class="pure-button button-warning" ng-click="spotify.disconnect()" chrome-translate>logout</a></p>
		</div>
	</div>
	<p><a class="pure-button" ng-click="return()" ng-if="spotify.loginStatus && shazam.loginStatus" chrome-translate>backToTags</a></p>
</div>